<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (orders.length <= 0) { %>
                <h1>No orders yet!</h1>
            <% } else { %>
                <ul>
                    <% orders.forEach(order => { %>
                        <li>
                            <h1>Order <%= order.id %></h1>
                            <ul>
                                <% order.products.forEach(product => { %>
                                    <li>
                                        <h2><%= product.title %></h2>
                                        <h3>Quantity: <%= product.orderItem.quantity %></h3>
                                    </li>
                                <% }) %>
                            </ul>
                        </li>
                    <% }) %>
                </ul>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>